.maindiv{
	max-width: 600px;
	margin: 0 auto;
	border: 5px solid lightcoral;
	width: 30%;
	height: 700px;
	padding: 10px 10px 10px 10px;
	padding-left: 20px;
}
label[for='new-task']
{
  color: red;
  font-weight: 500;
  font-size: 25px;
  border-bottom: 1px solid #333;
}
.adddailyworkdiv{
	border:5px solid lightcyan;
	margin:15px auto 0;
}
.tododiv{
	border:5px solid lightcyan;
	margin:15px auto 0;
}
.completeddiv{
	border:5px solid lightcyan;
	margin:15px auto 0;
}
.adddailyworkdivbutton{
	border: none;
	font-size:15px;
	max-width: 50px;
	margin-left: 5px;
}
tododiv{
	border:5px solid lightcyan;
	margin:15px auto 0;
}
.todool{
	font-size:25px;
	font-weight: bold;
	width:100%;
	height:150px;
	overflow: auto;
}
.completedol{
	font-size:25px;
	font-weight: bold;
	text-decoration: line-through;
	width:100%;
	height:150px;
	overflow: auto;
}
.newitem{
	float: right;	
	margin-right: 30px;
}

li:hover{
	font-size: 40px;
	color: brown;
}
